.soldListingsId {
    font-size: 12px;
    color: grey;
}

.soldListingsAgencyLogo {
    float: right;
    margin-right: 25px;
}

.soldListingsAgencyName {
    font-size: 18px;
    text-align: center;
    background-color: #{agencyBrandingColorsPrimary};
    color: #{agencyBrandingColorsText};
}

.soldListingsImage {
    width: 100px;
    margin-left: 250px;
}

.soldListingsPrice {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.soldListingsSoldDate {
    font-size: 16px;
    text-align: left;
}

.soldListingsAgent {
    font-size: 16px;
    text-align: right;
}

.soldListingsAddress {
    font-size: 16px;
    text-align: left;
}

.soldListingsFeatures {
    font-size: 12px;
    text-align: left;
    color: #697684;
}