@font-face{
    font-family:Museo-Sans-300;src:url(//s1.rui.au.reastatic.net/rui-static/font/museo-sans-300-v1.eot);src:url(//s1.rui.au.reastatic.net/rui-static/font/museo-sans-300-v1.eot?#iefix) format("embedded-opentype"),url(//s1.rui.au.reastatic.net/rui-static/font/museo-sans-300-v1.woff) format("woff"),url(//s1.rui.au.reastatic.net/rui-static/font/museo-sans-300-v1.ttf) format("truetype"),url(//s1.rui.au.reastatic.net/rui-static/font/museo-sans-300-v1.svg#Museo-Sans-300) format("svg");font-weight:400;font-style:normal}

body {
    font-family: 'Museo-Sans-300';
}

h1 {
    text-align: center;
}

.noScaffoldFeedCollection {
    border: 4px solid black;
    margin-bottom: 20px;
}

.noScaffoldFeedCollectionTitle {
    font-size: 20px;
    font-weight: bolder;
    padding: 3px 5px;
}

.feed {
    border: 2px solid black;
    margin-bottom: 5px;
    clear: both;
}

.feedTitle {
    font-weight: bold;
    border: 1px solid black;
    float: left;
    padding: 5px 10px;
}

.feedButton {
    color: red;
    font-weight: bold;
    float: right;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.feedSubscribeButton {
}

.feedRemoveButton {
}

.feedNextItemButton {
    padding: 1px 10px;
}

.feedPreviousItemButton {
    padding: 1px 10px;
}

.feedResetTemplateButton {
}

.feedItem {
    border: 1px solid grey;
    clear: both;
    width: 45%;
    background-color: #f4f5f7;
}

.feedItemTitle {
    border: 1px solid black;
    padding: 2px 3px;
    float: left;
}

.feedItemLine {
    clear: both;
}

.feedItemLineContents {
    float: left;
    width: 96%;
}

.feedItemLineContent {
}

.feedItemLineActions {
    float: left;
}

.feedItemLineButton {
    color: red;
    font-weight: bold;
    float: left;
    border: 1px solid black;
    padding: 2px 3px;
    cursor: pointer;
}

.feedItemLineRemoveButton {
    padding: 1px 5px;
    margin-left: 5px;
}

.clearer {
    clear: both;
}