.noScaffoldFeedCollection {
    border: 4px solid black;
    margin-bottom: 20px;
}

.noScaffoldFeedCollectionTitle {
    font-size: 20px;
    font-weight: bolder;
}

.feed {
    border: 2px solid black;
    margin-bottom: 5px;
}

.feedTitle {
    font-weight: bold;
    border: 1px solid black;
    float: left;
    padding: 5px 10px;
}

.feedItem {
    clear: both;
}

.feedSubscribeButton {
    color: red;
    font-weight: bold;
    float: right;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.feedRemoveButton {
    color: red;
    font-weight: bold;
    float: right;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}