.buyListingsId {
    font-size: 12px;
    color: grey;
}

.buyListingsAgencyLogo {
    float: right;
    margin-right: 25px;
}

.buyListingsAgencyName {
    font-size: 18px;
    text-align: center;
    background-color: #{agencyBrandingColorsPrimary};
    color: #{agencyBrandingColorsText};
}

.buyListingsImage {
    width: 100px;
    margin-left: 45%;
}

.buyListingsPrice {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.buyListingsAgent {
    font-size: 16px;
    text-align: right;
}

.buyListingsAddress {
    font-size: 16px;
    text-align: left;
}

.buyListingsFeatures {
    font-size: 12px;
    text-align: left;
    color: #697684;
}